<extend name="Public:base"/>
<block name="title">关于我们</block>
<block name="main">
<div id="main">


    <div style="margin:0 auto; width:1000px; height:auto; border:1px solid #ccc;background-image:url(__PUBLIC__/Index/images/title.jpg); background-repeat:repeat-x ">
           <div id="aboutus">
           <h3><img src="__PUBLIC__/Index/images/dt.png" >关于我们</h3><hr>
           <div>
           	<h4>益品德环境科技科技诊断网</h4>
           	
           <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
          <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
          <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
           <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
            <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
            <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
            <p>益品德环境科技科技诊断网站是经国家人事部批准，于1990年成立的农业部直属正局级事业单位。主要职能：贯彻国家有关技术推广的方针、政策，指导全国水产技术推广体系和队伍建设；组织实施有关国家重点科技成果和先进技术的示范推广；国外关键技术的引进、试验、示范；水生动植物病虫害及灾情的监测、预报、防治和处置；水产品生产过程中质量安全的检测、监测和强制性检疫;水产养殖投入品使用监测；水产养殖中兽药使用的指导；水产原良种和苗种管理的相关技术工作；国、内外水产技术交流和公共信息咨询服务；水产技术推广公共培训教育及渔业行业职业技能鉴定；政策宣传和《中国水产》出版发行。</p>
<p>电话： 传 真：</p>
           
           </div>
           
           
           
           
           </div>   
                   
    </div>              
                   

</div>


    
</block>