<extend name="Public:base"/>
<block name="title">在线诊断首页</block>
<block name="main">
    <div id="main">



	<div style="margin:0 auto; width:1000px; height:auto; border:1px solid #ccc;background-image:url(__PUBLIC__/Index/images/title.jpg); background-repeat:repeat-x">
	
		<div id="consult">
        	<h3><img src="__PUBLIC__/Index/images/dt.png" >专家在线诊断</h3><hr>
<script language="javascript" type="text/javascript">
     $(document).ready(function () {
        $(".content li").click(function () {
            $(".select").removeClass("select");
            $(this).addClass("select");
        })
    });
	 function wzClick()
    {
        if ($(".select").length == 1) {
              window.location.href = ("/Diagnosis/selectprofessor?name=" + $(".select").attr("value"));
        }
        else
        {
            alert('请选择要诊断的类型', 4);
        }
    }

</script>
       
        <div class="content">
        	<div class="div1">
                    <img src="__PUBLIC__/Index/images/fish1.png"><p><img src="__PUBLIC__/Index/images/dt.png">&nbsp;鱼类</p></div>
        	<div class="div2"></div>
	        <div class="div3">
            	<div class="sea">
                    <ul id="fish">
                           <volist name="ret1" id="vo"> 
                    	    <li value="{$vo.classname}" typeid="1" water="1">{$vo.classname}</li>
                         </volist>
                    </ul>
                </div>
            	<div class="fresh">
                	<ul>
                            <volist  name="ret2" id="vo">
                            <li value="{$vo.classname}" typeid="1" water="0">{$vo.classname}</li>
                           </volist>  
                        </ul>
                </div>
            
            </div>
    		<div class="div4"><p onclick="wzClick()"></p></div>    
         </div>

        <div class="content">
        	<div class="div1">
                    <img src="__PUBLIC__/Index/images/fish2.png"><p><img src="__PUBLIC__/Index/images/dt.png">&nbsp;贝类</p></div>
        	<div class="div2"></div>
	        <div class="div3">
            	<div class="sea">
                    <ul id="fish">
                           <volist  name="ret3" id="vo">
                    	    <li value="{$vo.classname}" typeid="2" water="1">{$vo.classname}</li>
                         </volist>
                    </ul>
                </div>
            	<div class="fresh">
                	<ul>
                            <volist  name="ret4" id="vo">
                            <li value="{$vo.classname}" typeid="2" water="0">{$vo.classname}</li>
                           </volist>  
                        </ul>
                </div>
            
            </div>
    		<div class="div4"><p onclick="wzClick()"></p></div>    
         </div>

        <div class="content">
        	<div class="div1">
                    <img src="__PUBLIC__/Index/images/fish3.png"><p><img src="__PUBLIC__/Index/images/dt.png">&nbsp;甲壳类</p></div>
        	<div class="div2"></div>
	        <div class="div3">
            	<div class="sea">
                    <ul id="fish">
                            <volist  name="ret5" id="vo">
                    	    <li value="{$vo.classname}" typeid="3" water="1">{$vo.classname}</li>
                         </volist>
                    </ul>
                </div>
            	<div class="fresh">
                	<ul>
                            <volist  name="ret6" id="vo">
                            <li value="{$vo.classname}" typeid="3" water="0">{$vo.classname}</li>
                           </volist>  
                        </ul>
                </div>
            
            </div>
    		<div class="div4"><p onclick="wzClick()"></p></div>    
         </div>

        <div class="content">
        	<div class="div1">
                    <img src="__PUBLIC__/Index/images/fish4.png"><p><img src="__PUBLIC__/Index/images/dt.png">&nbsp;其他</p></div>
        	<div class="div2"></div>
	        <div class="div3">
            	<div class="sea">
                    <ul id="fish">
                            <volist  name="ret7" id="vo">
                    	    <li value="{$vo.classname}" typeid="4" water="1">{$vo.classname}</li>
                         </volist>
                    </ul>
                </div>
            	<div class="fresh">
                	<ul>
                             <volist  name="ret8" id="vo">
                            <li value="{$vo.classname}" typeid="4" water="0">{$vo.classname}</li>
                           </volist>  
                        </ul>
                </div>
            
            </div>
    		<div class="div4"><p onclick="wzClick()"></p></div>    
         </div>
        
        
        
        
        
        
        
        
        </div>
   
   
   
   
  

   
   
   
   
   </div>


</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body">
            按下 ESC 按钮退出。
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    
</block>