<extend name="Public:base"/>
<block name='usersmenu'>active</block>
<block name="extcss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/webupload/webuploader-admin.css"/>
</block>
<block name='professorsubmgr'>active</block>
<block name="extjs">
    <!-- Parsley -->
    <script type="text/javascript" src="__PUBLIC__/webupload/upload-admin.js"></script>   
    <script type="text/javascript" src="__PUBLIC__/webupload/webuploader.js"></script>
    <script type="text/javascript" src="__APP__/public/ckeditor/ckeditor.js"></script>
    <if condition="($act eq add) ">
        <script type="text/javascript" src="__APP__/public/Admin/Js/addprofessor.js"></script>
        <script type="text/javascript" src="__APP__/public/Admin/Js/jquery.validate.js"></script>
    </if>
    
</block>
<block name="pagecont">
    <STYLE TYPE="text/css"> 
    <!-- 
    .error{ color:#900; float:right}
    --> 
    </STYLE>
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>专家资料编辑</h3>
                </div>
                <div class="panel-body">
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" action="__ACTION__" method="post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">专家帐号</label>
                            <div class="col-lg-2">
                                 <if condition="$act eq add">
                                      <input class="form-control" type="text"  data-required="true"  name="username"> 
                                     <else />   
                                
                                <input class="form-control" type="text"  data-required="true"  name="username"  value="{$data.username}"  readonly= "true " > 
                                 <input class="form-control" type="hidden"  data-required="true"  name="userid"  value="{$data.userid}"  readonly= "true " > 
                                 </if>
                            </div>
                             
                            
                        </div>
                        
                        <div class="form-group">
                          <if condition="($act eq add) ">
                               <label class="col-lg-2 control-label">上传照片</label>
                               
                            			 <!--头部，相册选择和格式选择-->
                                                <div id="uploader" class="col-lg-3">
                                                    <div class="queueList">
                                                        <div id="dndArea" class="placeholder">
                                                            <div id="filePicker"></div>
                                                            <p>或将照片拖到这里</p>
                                                        </div>
                                                    </div>
                                                    <div class="statusBar" >
                                                        <div class="progress">
                                                            <span class="text">0%</span>
                                                            <span class="percentage"></span>
                                                        </div>
                                                        <div class="info"></div>
                                                        <div class="btns">
                                                           
                                                            <div class="uploadBtn">开始上传</div>
                                                        </div>
                                                    </div>
                                                </div>
                              
                              <else/>
                              <label class="col-lg-2 control-label">专家照片</label>
                              <div class="col-lg-2">
                                  <img src="http://cdn.yuyehulian.com/{$img}" />
                              </div> 
                              <label class="col-lg-2 control-label">更换照片</label>
                                <div id="uploader" class="col-lg-3">
                                                    <div class="queueList">
                                                        <div id="dndArea" class="placeholder">
                                                            <div id="filePicker"></div>
                                                            <p>或将照片拖到这里</p>
                                                        </div>
                                                    </div>
                                                    <div class="statusBar" >
                                                        <div class="progress">
                                                            <span class="text">0%</span>
                                                            <span class="percentage"></span>
                                                        </div>
                                                        <div class="info"></div>
                                                        <div class="btns">
                                                           
                                                            <div class="uploadBtn">开始上传</div>
                                                        </div>
                                                    </div>
                                                </div>
                          </if>
  
                         </div>
                        
                         <div class="form-group">
                            <label class="col-lg-2 control-label">真实姓名</label>
                            <div class="col-lg-2">       
                                <input class="form-control" type="text"  data-required="true"  name="truename"  value="{$data.truename}">            
                            </div>
                              <label class="col-lg-2 control-label">专家职位</label>
                            <div class="col-lg-2">
                                    <input class="form-control" type="text"  data-required="true"  name="job"  value="{$data.job}" > 
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">专家技能</label>
                            <div class="col-lg-2">
                                    <input class="form-control" type="text"  data-required="true"  name="skilled"  value="{$data.skilled}" > 
                            </div>
                            
                            <label class="col-lg-2 control-label">专家单位</label>
                            <div class="col-lg-2">
                                    <input class="form-control" type="text"  data-required="true"  name="job_unit"  value="{$data.job_unit}" > 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">专家电话</label>
                            <div class="col-lg-2">
                                    <input class="form-control" type="text"  data-required="true"  name="phone"  value="{$data.phone}" > 
                            </div>
                            
                            <label class="col-lg-2 control-label">专家邮箱</label>
                            <div class="col-lg-2">
                                    <input class="form-control" type="text"  data-required="true"  name="mail"  value="{$data.mail}" > 
                            </div>
                        </div>
                        
                        <div class="form-group">
 
                        <label class="col-lg-2 control-label">专家介绍</label>
                            <div class="col-lg-6">
                                <textarea   data-required="true" class="form-control"   name="intro" rows="5" >{$data.intro}</textarea> 
                            </div>
                        </div>
                                           
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="id" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('user/professormgr')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>