<extend name="Public:base"/>


<block name="title">{$title}</block>
<block name="main">

<div id="main">



<div style="margin:0 auto; width:1000px; height:auto; border:1px solid #ccc;background-image:url(__PUBLIC__/Index/images/title.jpg); background-repeat:repeat-x">

    <div id="article">
		<h3><img src="__PUBLIC__/Index/images/dt.png">文章新闻</h3>                                   

		<div>
        	<div class="title">{$title}</div>
            <div class="source"><span>时间：{$date}</span><span>出处：{$author}</span></div>
            <div class="content">
            	{$content}
            </div>
        
        
        
        
        </div>










                                   
    </div>                               


</div>


</block>
