<extend name="Public:base"/>
<block name="title">预防控制</block>
<block name="main">
<div id="main">


    <div style="margin:0 auto; width:1000px;height:800px; ">
           <div id="news">
               <h3><img src="__PUBLIC__/Index/images/dt.png" >省市新闻</h3>
               <div>
    
    		   <ul>
                       <volist name="list" id="vo">
                           <li><img src="__PUBLIC__/Index/images/li-article.jpg"/><a href="{:U('List/article',array('id'=>$vo['id']))}">{$vo.title}</a><span>{$vo.date}</span></li>  
                       </volist>
                    </ul>
                        
    					<div id="page">{$page}</div>
               </div>
 
           </div> 
           <div id="news-right">
           	<h3><img src="__PUBLIC__/Index/images/dt.png" >新闻导航</h3><hr>
            	<ul>
           		 <li><img src="__PUBLIC__/Index/images/li-article.jpg"/><a href="{:U('List/get/type/工作动态')}">工作动态</a></li>
                 <li><img src="__PUBLIC__/Index/images/li-article.jpg"/><a href="{:U('List/get/type/政策法规')}">政策法规</a></li>
                 <li><img src="__PUBLIC__/Index/images/li-article.jpg"/><a href="{:U('List/get/type/预测预报')}">预测预报</a></li>
                 </ul>        
           </div>  
                   
    </div>              
                   

</div>



</block>