<extend name="Public:base"/>
<block name='classmenu'>active</block>
<block name='classsubmgr'>active</block>
<block name="extjs">
    <!-- Parsley -->
    <script type="text/javascript" src="__APP__/public/ckeditor/ckeditor.js"></script>
    <if condition="($act eq add) ">
        <script type="text/javascript" src="__APP__/public/Admin/Js/addclass.js"></script>
        <script type="text/javascript" src="__APP__/public/Admin/Js/jquery.validate.js"></script>
    </if>
</block>

<block name="pagecont">
<STYLE TYPE="text/css"> 
    <!-- 
    .error{ color:#900; float: right}
    --> 
</STYLE>
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>物种编辑</h3>
                </div>
                <div class="panel-body">
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" action="__ACTION__" method="post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">物种名称</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" placeholder="请输入物种名称"  data-required="true"  name="classname" id="classname" value="{$data.classname}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">物种类型</label>
                            <div class="col-lg-6">
                                                        <label class="label-radio inline">

							<input type="radio" name="typeid" value="1"  <if condition="($data.typeid eq '1')">checked='checked' </if> >

							<span class="custom-radio"></span>

							鱼类

							</label>

							<label class="label-radio inline">

							<input type="radio" name="typeid" value="2"  <if condition="($data.typeid eq '2')">checked='checked' </if> >

							<span class="custom-radio"></span>

							贝类

							</label>
 							<label class="label-radio inline">

							<input type="radio" name="typeid" value="3"  <if condition="($data.typeid eq '3')">checked='checked' </if> >

							<span class="custom-radio"></span>

							甲壳类

							</label>
 							<label class="label-radio inline">

							<input type="radio" name="typeid" value="4"  <if condition="($data.typeid eq '4')">checked='checked' </if> >

							<span class="custom-radio"></span>

							其他类

							</label>   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">物种属性</label>
                            
                            <div class="col-lg-6"> 

                                                        <label class="label-radio inline">

							<input type="radio" name="water" value="0"  <if condition="($data.water eq '0')">checked='checked' </if> >

							<span class="custom-radio"></span>

							海水

							</label>     
                                                         <label class="label-radio inline">

							<input type="radio" name="water" value="1"  <if condition="($data.water eq '1')">checked='checked' </if> >

							<span class="custom-radio"></span>

							淡水

							</label>                           
                            </div>
                        </div>
                                             
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="classid" value="{$data.classid}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('class/classmgr')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>