<extend name="Public:base"/>
<block name="title">专家页面</block>
<block name="main">
<div id="main">


    <div style="margin:0 auto; width:1000px;height:1100px; ">
           <div id="professor">
               <h3><img src="__PUBLIC__/Index/images/dt.png" >专家资料</h3>
               <div>
    				<div class="div1">
                    	<img src="__PUBLIC__/Index/images/person.png"/>
                        <div class="div1-right">
                            <table width="400" border="0">
                              <tr>
                                <td width="90" height="30" align="right" valign="middle">姓名</td>
                                <td width="296" align="center">fgnfcg</td>
                              </tr>
                              <tr>
                                <td height="30" align="right" valign="middle">单位</td>
                                <td align="center">fmfmxfgmxf</td>
                              </tr>
                              <tr>
                                <td height="30" align="right" valign="middle">职务/职称</td>
                                <td align="center">cfhmcfhmmhf</td>
                              </tr>
                              <tr>
                                <td height="30" align="right" valign="middle">特长</td>
                                <td align="center">cfmhcfhm</td>
                              </tr>
                            </table>             
                        </div>
                    </div>
                    <div class="div2">
                    	<h4><img src="__PUBLIC__/Index/images/dl.png" >个人简介</h4>
                        <div class="content">
                        	<p>陈爱平,女，1982年1月毕业于上海水产大学。曾经下过乡、当过教师、做过机关干部，主要从事水产科技、养殖生产管理。现从事水产养殖病害与水生动物防疫管理工作。现任社会职务：农业部侨联主席、北京市第11、12届侨联委员、国家机关侨联常委、中国科协农作物病虫害专家组专家、中国水产学会资深会员和鱼病委员会委常委，农业部农产品质量安全中心的无公害农产品认证评审委员会委员，国家质检总局水生动物安全卫生专家</p>
                        </div>
                    </div>
                    <div class="div3">
                    <form>
                    	<h4><img src="__PUBLIC__/Index/images/dl.png" >发送报告</h4>
                        <div>
                            <table border="0">
                              <tr>
                                <td width="80" height="40" align="right" valign="middle">诊断品种</td>
                                <td width="135"><select><option selected="selected" value="">黄鳝</option></select></td>
                                <td width="85">&nbsp;</td>
                                <td width="80" align="right" valign="middle">个体大小</td>
                                <td width="250"><input type="text"></td>
                              </tr>
                              <tr>
                                <td height="30" align="right" valign="middle">养殖面积</td>
                                <td><input type="text"></td>
                                <td><select><option selected="selected" value="">亩</option><strong><option  value="">平方米</option><option  value="">网箱</option></strong></select></td>
                                <td align="right" valign="middle">水深</td>
                                <td><input type="text">米</td>
                              </tr>
                              <tr>
                                <td align="right" valign="middle">选择专家</td>
                                <td height="30"><select><option selected="selected" value="">陈爱平</option></select></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </table>
                        </div>
                    </div>
    				
                    <div class="div4">
                    	<div>
                                <table width="600" border="0">
                                  <tr>
                                    <td width="100" height="100" align="center" valign="middle">上传图片：</td>
                                    <td><button class="btn btn-primary">上传图片</button></td>
                                  </tr>
                                </table>
                        </div>
                    	<div>
                                <table width="600" border="0">
                                  <tr>
                                    <td width="100" height="150" align="center" valign="middle">水环境描述：</td>
                                    <td> <textarea style="height:100px;width:90%;"></textarea></td>
                                  </tr>
                                </table>	
                        </div>
                        <div>
                                <table width="600" border="0">
                                  <tr>
                                    <td width="100" height="150" align="center" valign="middle">病情描述：</td>
                                    <td><textarea style="height:100px;width:90%;"></textarea></td>
                                  </tr>
                                </table>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">发送报告</button>
                        </form>
                    </div>
                    
                    
               </div>
 
           </div> 
           <div id="professor-right">
           	<h3><img src="__PUBLIC__/Index/images/dt.png" >专家列表</h3>
            	<ul>
           		 <li>
                        <table width="240" border="0">
                          <tr>
                            <td width="100" height="150" rowspan="3" align="center" valign="middle"><a><img src="__PUBLIC__/Index/images/person.png" style="width:80%; height:80%"></a></td>
                            <td height="50">姓名:陈辉</td>
                          </tr>
                          <tr>
                            <td height="50">单位:江苏省水生动物疫病预防控制中心</td>
                          </tr>
                          <tr>
                            <td height="50">职务:研究员</td>
                          </tr>
                        </table>
                 </li>
                 <li>
                          <table width="240" border="0">
                          <tr>
                            <td width="100" height="150" rowspan="3" align="center" valign="middle"><a><img src="__PUBLIC__/Index/images/person.png" style="width:80%; height:80%"></a></td>
                            <td height="50">姓名:陈辉</td>
                          </tr>
                          <tr>
                            <td height="50">单位:江苏省水生动物疫病预防控制中心</td>
                          </tr>
                          <tr>
                            <td height="50">职务:研究员</td>
                          </tr>
                        </table>               
                 
                 
                 </li>
                 <li>
                        <table width="240" border="0">
                          <tr>
                            <td width="100" height="150" rowspan="3" align="center" valign="middle"><a><img src="__PUBLIC__/Index/images/person.png" style="width:80%; height:80%"></a></td>
                            <td height="50">姓名:陈辉</td>
                          </tr>
                          <tr>
                            <td height="50">单位:江苏省水生动物疫病预防控制中心</td>
                          </tr>
                          <tr>
                            <td height="50">职务:研究员</td>
                          </tr>
                        </table>                 
                 
                 
                 
                 
                 </li>
                 </ul>        
           </div>  
                   
    </div>              
                   

</div>

</block>